
<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">
    
    <div class="about__image">      
      <img src="{{ '/images/profile.png' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hello! I’m Elisha</h2>
      <p class="subtitle subtitle--light">This section/portfolio site is a work in progress and will be updated shortly!
      </p>

      <p>
    </div>
  </div>
</section>
